body {
    font-family: 'Candara', sans-serif;
}


.large-switch .form-check-input {
    transform: scale(1.2); /* Increase the size of the switch */
}

.no-margin-navbar {
    margin: 0 !important;
    padding: 0 !important;
}

.p-holder-height {
    height: 20px;
}

.hr-height {
    height: 4px;
    border: solid white 2px;
}

.card-styles {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.card-skeleton {
    border: none;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
    width: 100%;
    height: 100%;
    background: #282c34;
}

.img-32 {
    width: 38px;
    height: 32px;
    transition: 0.3s;
    object-fit: cover;
}

.card-img {
    height: 100%;
    padding-top: 0;
    object-fit: cover;
    width: 100%;
}

.genre-list {
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    padding: 0;
    border: 1px solid #212529;
}

.list-group {
    background: #e6f8eb;
}

.genre-list:hover {
    background: rgb(40, 44, 52);
    transition: 0.2s;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    border: 1px solid #41464b;

    .img-32 {
        width: 50px;
        height: 42px;
        transition: 0.3s;
    }
}

.genre-list-selected {
    background: rgb(40, 44, 52);
    transition: 0.2s;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    font-size: 24px;
    border: 1px solid #41464b;


    .img-32 {
        width: 50px;
        height: 42px;
        transition: 0.3s;
    }


}

.aside-container {
    position: sticky;
    overflow-y: auto;
}

.search-input {
    font-size: 18px;
    border: none;

}

.custom-search {
    border-radius: 24px;
    overflow: hidden;
    background: #3a3a3d;
}

.custom-search .input-group-text {
    background: #353538;
    border: none;
    color: #ffffff;
}

.custom-search .form-control {
    background: #3a3a3d;
    border: none;
    color: #ffffff;
    padding: 12px 16px;
    box-shadow: none;
}

.custom-search:focus-within {
    box-shadow: 0 0 1px 1px #3a5c81;
    border: 1px solid #2f547c;
}

.navbar-styles {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.h-font {
    font-size: 60px;
}







