body {
    font-family: 'Candara', sans-serif;
}


.large-switch .form-check-input {
    transform: scale(1.2); /* Increase the size of the switch */
}

.no-margin-navbar {
    margin: 0 !important;
    padding: 0 !important;
}

.p-holder-height {
    height: 20px;
}

.hr-height {
    height: 4px;
    border: solid white 2px;
}

.card-styles {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.img-32 {
    width: 38px;
    height: 32px;
    transition: 0.3s;
}

.genre-list {
    cursor: pointer;
    transition: 0.3s;
    color: #c9b21a;
    font-size: 18px;
}

.genre-list:hover {
    background: darkgoldenrod;
    transition: 0.2s;
    border-radius: 10px;
    color: black;
    font-weight: bolder;

    .img-32 {
        width: 50px;
        height: 42px;
        transition: 0.3s;
    }
}

.genre-list-selected {
    background: darkgoldenrod;
    transition: 0.2s;
    border-radius: 10px;
    color: black;
    font-weight: bolder;

    .img-32 {
        width: 50px;
        height: 42px;
        transition: 0.3s;
    }


}

.aside-container {
    position: sticky;
    overflow-y: auto;
}






